@keyframes fade {
    from {
      opacity: 0;
      }
    to {
      opacity: 1;
      }
  }



body {
    background-image: url('../images/papper_bg.jpgj');
    
    font-family: 'Indie Flower', cursive;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10% 70% 1fr;
}

header {
  font-size: 200%;
  grid-row: 1 / span 1;  
}

aside {
  font-size: 150%;  
  color: coral;
  grid-row: 2 / span 1;
}

main {
  grid-row: 3 / span 1;  
}

footer {
  grid-row: 4 / span 1;  
}

main p {
  font-size: 22pt;
} 

h1 {
  font-size: 48pt;
  padding-top: 3%;
  padding-bottom: 3%;
}


img {
    display: block;
    width: 30%;
    border: 2px hidden;
    padding: 1% 1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;    

    animation-name: fade;
    animation-duration: 1s;

    height: auto;
}


img.pipeline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 5px hidden;
    width: 50%;
}

/* img.pipeline:hover{
    width: 60%;
} */

figure figcaption {
    text-align: center;
    font-size: 16pt;
}

.nav_links {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}


#gallery_imgs {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 800px){

    
    .nav_links {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: left;

        font-size: 32px;
    }
      
    #gallery_imgs {      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;      
    }

    #gallery_imgs img {
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      padding-left: 20px;
      padding-right: 20px;
    }

    
    body {   
      grid-template-columns: 5fr 1fr;
    } 

    header {   
      grid-column: 1 / span 2;
    } 

    aside {     
      grid-column: 2 / span 1;  
    }
  }


@media screen and (prefers-reduced-motion:reduce) {
    #logo {
      animation: none;
    }
  }