.active {
    color: gray;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 5px hidden;
    width: 30%;
}

img:hover{
    width: 40%;
}

img.pipeline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 5px hidden;
    width: 50%;
}

img.pipeline:hover{
    width: 60%;
}

figure figcaption {
    text-align: center;
}
